%% == escriptize ==
{escript_name, "enforceEr"}.
{escript_incl_apps, []}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_comment, "%%\n"}.
{escript_emu_args, "%%! -pa out/production/enforcer\n"}.


%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.

%% What dependencies we have, dependencies can be of 3 forms, an application
%% name as an atom, eg. mochiweb, a name and a version (from the .app file), or
%% an application name, a version and the SCM details on how to fetch it (SCM
%% type, location and revision).
%% Rebar currently supports git, hg, bzr, svn, rsync, fossil, and p4.
{deps, []}.

%% Erlang compiler options
{erl_opts, [debug_info, %no_debug_info,
  {i, "include"},
  {src_dirs, ["src"]}]}.

%% Options for eunit:test()
{eunit_opts, [debug_info,
  {i, "include"},
  {src_dirs, ["src"]}]}.
